@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}
body{
  background: rgb(247, 247, 247);
}
.conteiner{
  max-width: 1160px;
  margin: 0 auto;
}
img {
  width: 100%;
}
.hide {
  display: none;
}
/* navbar-style */
.display-flex{
display: flex;
}
.navbar{
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img{
  width: 60px;
  height: auto;
}
.nav-head{
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500px;
}
.nav-item a{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
/* sharde style */


.home-color{
  color: Orange;
}
.about-color{
color: #01ACFD;
}
.facilites-color{
color: rgb(5, 212, 223);
}
.admission-color{
color:rgb(93, 88, 239) ;
}
.contact-btn{
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
background: rgb(254, 163, 1);
padding: 18px 35px ;
font-weight: 600px;
font-size: 20px;
}
.menubar-icon {
  width: 40px;
}


/* banner style */
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto ;
  gap: 24px;
  max-width: 1160px;
}
.banner-content{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
   width: 60%;
}
.banner-title{
  font-size: 56px;
  font-weight: bold;
}
.banner-description{
  font-size: 20px;
  font-weight:400px ;
  color: #111111;
}
.banner-btn{
  background-color: #111111;
  color: #FFFFFF;
  padding: 10px 47px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
/* card-style */
.card-section{
  background-image: url("../assets/bg.png");
}
.card{
  display: flex;
  text-align: center;
  gap: 28px;

}
 .card-1{
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

} 
.card-2{
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
  border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-img{
  width: 130px;

}
.section-title{
  /* display: flex;
  justify-content: center; */
  text-align: center;
  padding: 60px auto;
  font-size: 46px;
  font-weight: 800px;
  color: #000000;
}
.card-title{
  font-size: 24px;
  font-weight: bold;
  color: #202020;
}
.card-description{
  font-size: 15px;
  font-weight: 600px;
  color: #808080;
}
.card-btn{
  font-size: 15px;
  font-weight: bold;
  color: #64C8FF;
  border: none;
}
.btn-color2{
  color: #F0AA00
}
.btn-color3{
  color: #8700FF;
}
/* .btn-icon{
  border-radius: 30px;
  background: rgb(254, 163, 1);
} */
 .storie-title{
  font-size: 46px;
  font-weight: bold;
  color: #000000;
  text-align: center;
 }






/* footer style */
.footer{
  background-color: #01ACFD;
  height: 520px;
  padding: 120px 225px 170px 140px;
  display: flex;
  justify-content: space-evenly;
}
.logo-img{
  width: 80px;
}
.footer-title{
  font-size: 42px;
  font-weight:bold ;
  color: #FFFFFF;
}
.footer-description{
  font-size: 20px;
  font-weight:400px ;
  color: #FFFFFF;
}
.footer-column{
  display: flex;
}
.about-item{
  font-size: 20px;
  font-weight: 500px;
  color: #FFFFFF;
}
ul li{
  list-style: none;
}

.icon-title{
  font-size: 24px;
  font-weight:bold ;
  color: #FFFFFF;
}
.icon{
  width: 40px;
  display: flex;
}



/* responsive design */
@media screen and (max-width: 576px){
  .md-hide {
    display: none;
  }
  .md-active {
    display: block;
  }
  .navbar{
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }
  .banner{
    flex-direction: column-reverse;
    padding: 20px;
  }
  .banner-content{
    width: 100%;
  text-align: center;
  align-items: center;
  }

}